html {
  font-size: 12px; }

.blog-post {
  color: #838b8c;
  font: 400 0.938rem/1.75rem Domine;
  text-decoration: none;
  padding-top: 35px; }
  .blog-post ul {
    padding-left: 0; }

.title-blog {
  font: 700 2rem/2.063rem Montserrat;
  text-transform: uppercase;
  color: #343a3b;
  margin-top: 0; }
  .title-blog .first-small {
    color: #898e8f;
    font-size: 0.875rem;
    display: block; }

.title-post {
  font-family: Montserrat,sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  color: #343a3b;
  font-size: 0.875rem; }
  .title-post .data-post {
    color: #ffac55;
    font-size: 0.813rem;
    display: block; }

.btn-prew {
  text-align: center; }
  .btn-prew .btn-post {
    color: white;
    font: 0.813rem/1.875rem Montserrat;
    text-transform: uppercase;
    background-color: #16d428;
    border-radius: 20px;
    padding: 0 10px;
    text-decoration: none; }

.section-blog-welcome {
  background: url("../images/welcome_blog.png") 50% 50% no-repeat #e7eff1;
  background-size: cover;
  min-height: 292px; }
  .section-blog-welcome .img-welcome {
    padding-top: 132px; }

.section-content-blog .text-content {
  padding: 15px 0 0; }
.section-content-blog .img-blog-post {
  position: relative; }
.section-content-blog .text-img {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  color: #ffffff; }
  .section-content-blog .text-img span {
    font: 400 0.6rem/2.063rem Montserrat;
    background-color: #ffac55;
    padding: 8px 14px; }
  .section-content-blog .text-img p {
    font: 700 0.7rem/2.063rem Montserrat;
    background-color: #222;
    padding: 7px 16px;
    margin-bottom: 0; }
.section-content-blog .list-content li:before {
  content: "\2714";
  color: #ffac55;
  line-height: 36px;
  padding-right: 10px;
  margin-left: 25px; }
.section-content-blog .social-groups {
  margin-bottom: 20px;
  margin-top: 15px;
  border: 1px solid #d3dcde;
  border-radius: 20px;
  display: inline-block; }
  .section-content-blog .social-groups li {
    display: inline-block;
    margin-left: 12px; }
    .section-content-blog .social-groups li a {
      color: #838b8c;
      text-decoration: none; }
  .section-content-blog .social-groups .last {
    border-radius: 50px;
    background-color: #ffac55; }
    .section-content-blog .social-groups .last a {
      color: #ffffff;
      padding: 13px;
      text-decoration: none; }

.related-post {
  border-bottom: 1px solid #e2e6e7;
  border-top: 1px solid #e2e6e7;
  padding: 20px 0 25px; }
  .related-post a {
    text-decoration: none; }
  .related-post .title-related {
    color: #343a3b;
    font: 700 1.125rem/2.063rem Montserrat;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .related-post img {
    margin-top: 15px;
    margin-bottom: 5px; }

.section-comments {
  padding: 25px 0; }
  .section-comments .comment {
    margin-top: 25px; }
    .section-comments .comment .comments-face {
      float: left; }
    .section-comments .comment .comment-in {
      padding-left: 45px; }
    .section-comments .comment .content-comment {
      overflow: hidden; }
      .section-comments .comment .content-comment .header-comment, .section-comments .comment .content-comment .comment-text {
        padding-left: 20px; }
      .section-comments .comment .content-comment .header-comment {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .section-comments .comment .content-comment .header-comment .btn-post {
          padding: 2px 20px; }
      .section-comments .comment .content-comment .title-comments {
        text-transform: uppercase;
        margin: 0;
        color: #343a3b;
        font: 400 0.875rem/1.313rem Montserrat; }

.section-leave-message {
  background: #e7eff1;
  padding: 35px 0; }
  .section-leave-message form {
    color: #343a3b;
    font: 400 0.75rem/1.875rem Montserrat;
    text-transform: uppercase;
    margin-top: 34px; }
    .section-leave-message form .input-blog {
      border: none;
      background: transparent;
      box-shadow: none;
      border-bottom: 1px solid #cddbde;
      border-radius: 0; }
    .section-leave-message form textarea {
      margin-bottom: 30px; }
    .section-leave-message form .btn-prew {
      text-align: left;
      padding-left: 15px; }
      .section-leave-message form .btn-prew .btn-post {
        padding: 9px 27px; }

.aside-post .title-aside {
  color: #343a3b;
  font: 700 1.125rem/2.063rem Montserrat;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px; }
.aside-post .aside-search .btn-blog,
.aside-post .aside-search .form-control-blog {
  border-radius: 0;
  border: 1px solid #d2dbdd; }
.aside-post .aside-search .form-control-blog {
  border-right: none;
  box-shadow: none;
  padding: 18px; }
.aside-post .aside-search .btn-blog {
  border-left: none; }
  .aside-post .aside-search .btn-blog i {
    color: #4c4e4f;
    font-size: 1rem;
    line-height: 2rem;
    text-transform: uppercase; }
.aside-post .aside-categories .list-aside-categories li:before {
  content: "\bb";
  color: #ffac55;
  padding-right: 10px; }
.aside-post .aside-categories .list-aside-categories li {
  font-size: 0.938rem;
  line-height: 2.25rem; }
  .aside-post .aside-categories .list-aside-categories li a {
    color: #838b8c;
    text-decoration: none; }
.aside-post .aside-featured .title-post {
  margin-top: 5px;
  margin-bottom: 30px; }
  .aside-post .aside-featured .title-post .data-post a {
    color: #ffac55;
    text-decoration: none; }
.aside-post .aside-tages .list-aside-tages li {
  display: inline-block;
  padding: 5px; }
  .aside-post .aside-tages .list-aside-tages li a {
    padding: 7px 10px; }
.aside-post .aside-form {
  margin-top: 35px;
  margin-bottom: 35px;
  border: 1px solid #d2dbdd; }
  .aside-post .aside-form .title-newsletter {
    text-align: center;
    color: #343a3b;
    font: 700 1.125rem Montserrat;
    text-transform: uppercase;
    margin-bottom: 18px; }
    .aside-post .aside-form .title-newsletter .small-title {
      font-size: 0.875rem;
      display: block;
      font-weight: 400; }
  .aside-post .aside-form .form-group-aside li {
    margin: 5px 20px; }
    .aside-post .aside-form .form-group-aside li label {
      display: inline; }
  .aside-post .aside-form .form-group-aside input {
    border-radius: 0;
    color: #a8b1b2;
    font-size: 0.875rem;
    line-height: 1.75rem; }
  .aside-post .aside-form .form-group-aside .btn-prew {
    margin-top: 10px; }
    .aside-post .aside-form .form-group-aside .btn-prew .btn-post {
      width: 100%;
      padding: 7px 0; }

@media (min-width: 768px) {
  html {
    font-size: 13px; }

  .section-content-blog .text-img span {
    font: 400 0.875rem/2.063rem Montserrat; }
  .section-content-blog .text-img p {
    font: 700 1.125rem/2.063rem Montserrat; }

  .aside-post .aside-search .form-control-blog {
    padding: 19px; } }
@media (min-width: 1200px) {
  html {
    font-size: 15px; }

  .aside-post .aside-search .form-control-blog {
    padding: 21px; }

  .section-comments .comment .comment-in {
    padding-left: 85px; } }
@media (min-width: 1970px) {
  html {
    font-size: 16px; }

  .blog-post {
    padding-top: 95px; }

  .title-blog {
    padding-bottom: 40px;
    margin-bottom: 0; }

  .section-content-blog .text-content {
    padding: 49px 0;
    margin-bottom: 0; }
  .section-content-blog .list-content {
    margin-bottom: 62px; }
  .section-content-blog .text-content-bottom {
    margin-top: 35px; }
  .section-content-blog .social-groups {
    margin-top: 54px;
    margin-bottom: 48px; }

  .related-post {
    padding-bottom: 93px;
    padding-top: 40px; }
    .related-post .title-post {
      margin-top: 30px;
      margin-bottom: 0; }

  .section-comments {
    padding-top: 107px;
    padding-bottom: 97px; }
    .section-comments .comment {
      margin-bottom: 60px; }
      .section-comments .comment .content-comment .header-comment {
        margin-bottom: 20px; }

  .section-leave-message {
    padding: 94px 0; }

  .aside-search {
    margin-bottom: 60px; } }

/*# sourceMappingURL=style_post.css.map */
